<a href="https://colab.research.google.com/github/heeboventure/Tensorflow/blob/main/Tensorflow_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 보스턴 집값 예측

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조 만들기
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터로 모델을 학습(FIT)
model.fit(독립, 종속, epochs=100, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7357
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7711
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.1250
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8598
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0630
Epoch 6/10
16/16 [==============================] - 0s 995us/step - loss: 24.0514
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.5673
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 23.4983
Epoch 9/10
16/16 [==============================] - 0s 983us/step - loss: 23.5821
Epoch 10/10
16/16 [==============================] - 0s 970us/step - loss: 23.8476

In [ ]:
# 4. 모델 이용
model.predict(독립[5:10])

array([[25.872238],
       [22.551044],
       [19.566368],
       [11.418421],
       [18.89872 ]], dtype=float32)

In [ ]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09422136],
        [ 0.04784127],
        [-0.01704179],
        [ 2.6358259 ],
        [-3.502867  ],
        [ 5.1613526 ],
        [-0.00871709],
        [-1.1002464 ],
        [ 0.20626107],
        [-0.01016019],
        [-0.55153745],
        [ 0.01353967],
        [-0.46674722]], dtype=float32), array([10.556653], dtype=float32)]

집값 예측 공식 = -0.09422136 * x1 + 0.04784127 * x2 + -0.01704179 * x3 + 
2.6358259 * x4 + -3.502867 * x5 + 5.1613526 * x6 + -0.00871709 * x7 +
-1.1002464 * x8 + 0.20626107 * x9 + -0.01016019 * x10 + 
-0.55153745 * x11 + 0.01353967 * x12 + -0.46674722 * x13 +
10.556653